<div class="main">
  <div class="container">
    <h1 class="main-title">Listado de Pokemon</h1>
    <div class="row">
        <div class="col-6">
          <app-search (searchEvent)="search($event)"></app-search>
        </div><!-- col -->
        <div class="col-6 text-right">
          <button btn (click)="showForm = !showForm">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M240 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H176V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H240V80z"/></svg>
            Nuevo
          </button>
        </div><!-- col -->
    </div><!-- d-flex -->

    <div class="card card-form" *ngIf="showForm || editable">
      <h2 class="text-center">Nuevo Pokemon</h2>
      <form [formGroup]="formCreate" novalidate>
        <div class="row">
          <div class="col-sm-6">
            <app-form-group label="Nombre" [group]="formCreate" controlName="name"></app-form-group>
          </div><!-- col -->
          <div class="col-sm-6">
            <app-range label="Ataque" [group]="formCreate" controlName="attack"></app-range>
          </div><!-- col -->
          <div class="col-sm-6">
            <app-form-group label="Imagen" typeInput="url" [group]="formCreate" controlName="image"></app-form-group>
          </div><!-- col -->
          <div class="col-sm-6">
            <app-range label="Defensa" [group]="formCreate" controlName="defense"></app-range>
          </div><!-- col -->
        </div> 
        <div class="text-center form-actions">
          <button btn (click)="savePokemon()" [disabled]="formCreate.invalid || saving">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V173.3c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32H64zm0 96c0-17.7 14.3-32 32-32H288c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V128zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
            Guardar
          </button>
          <button btn (click)="showForm = !showForm" [disabled]="saving">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/></svg>
            Cancelar
          </button>
        </div>
      </form>
    </div>

    <app-table [data]="pokemons" (deleteEvent)="deletePokemon($event)" (editEvent)="editPokemon($event)"></app-table>

  </div><!-- container -->
</div>